@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

:root {
  --primary-cyan: hsl(180, 66%, 49%);
  --primary-dark-violet: hsl(257, 27%, 26%);
  --secondary-red: hsl(0, 87%, 67%);
  --secondary-dark-violet: hsl(260, 8%, 14%);
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --dark-blue: hsl(255, 11%, 22%);
  --white: #ffffff;
  --body-bg: #eff1f7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}

/***********
Header Start
***********/
header {
  width: 1110px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  display: flex;
  margin-right: 1.5rem;
}

.menu {
  margin-right: auto;
}

.menu-items {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  margin: 0 0.75rem;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: var(--grayish-violet);
}

.link:hover,
.link:focus {
  color: var(--primary-dark-violet);
}

.auth-buttons .button {
  margin: 0 0.75rem;
}

.button {
  font-size: 0.75rem;
  background: none;
  border: none;
  cursor: pointer;
}

.primary {
  background: var(--primary-cyan);
  color: var(--white);
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
}
/***********
Header End
***********/

/***********
Hero Start
***********/
.hero {
  padding: 1rem;
  display: flex;
  height: 600px;
  background: url("../images/illustration-working.svg") no-repeat 50vw 0%
    var(--white);
  margin-top: 3rem;
}

.hero .content {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 4rem;
}

.hero .content .title {
  width: 50%;
  color: var(--dark-blue);
  line-height: 3.5rem;
}

.hero .content .subtitle {
  width: 50%;
  color: var(--grayish-violet);
  font-weight: 500;
}

.hero .content button {
  margin-top: 1rem;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}
/***********
Hero End
***********/

/***********
Form Start
***********/
.form {
  width: 1110px;
  margin: 0 auto;
  padding: 1rem;
  margin-top: -105px;
  position: relative;
  z-index: 2;
}

.form form {
  background: url("../images/bg-shorten-desktop.svg") no-repeat center center
    var(--primary-dark-violet);
  height: 168px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
}

.form input {
  border-radius: 0.5rem;
  background: var(--white);
  padding: 0.75rem;
  font-size: 0.75rem;
  color: var(--grayish-violet);
  outline: none;
  flex: 0.9;
  margin-right: 1rem;
}

.form button {
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  flex: 0.1;
}
/***********
Form End
***********/

/***********
Advanced Statistics Started
***********/
.advanced-statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--body-bg);
  margin-top: -100px;
  padding-top: 200px;
  color: var(--dark-blue);
}

.advanced-statistics .subtitle {
  color: var(--grayish-violet);
  font-weight: 500;
}

.cards {
  width: 1110px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  padding: 5rem 0;
}

.card {
  position: relative;
}

.card .card-body::after {
  content: "";
  height: 0.35rem;
  width: 3rem;
  background: var(--primary-cyan);
  position: absolute;
  top: 50%;
  right: -3rem;
}

.cards li:last-child .card-body::after {
  display: none;
}

.card .card-body {
  display: flex;
  flex-direction: column;
  padding: 4rem 1.5rem 1.5rem 1.5rem;
  align-items: flex-start;
  justify-content: space-between;
  background: var(--white);
  box-shadow: 0 0px 5px 0px var(--white);
  position: relative;
  border-radius: 0.25rem;
  margin: 1rem;
  list-style: none;
}

.card .image {
  background-color: var(--primary-dark-violet);
  border-radius: 50%;
  position: absolute;
  top: -2.1rem;
  left: 1rem;
  padding: 1rem;
  display: flex;
}

.image img {
  height: 40px;
  width: 40px;
}

.card .title {
  color: var(--primary-dark-violet);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.card .subtitle {
  color: var(--grayish-violet);
  font-weight: 500;
}

.cards li:nth-child(2) {
  margin-top: 2rem;
}

.cards li:nth-child(3) {
  margin-top: 4rem;
}
/***********
Advanced Statistics End
***********/

/***********
Get Started Started
***********/
.get-started {
  background: url("../images/bg-shorten-desktop.svg") no-repeat center center
    var(--primary-dark-violet);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 169px;
}

.get-started .title {
  color: var(--white);
  margin-bottom: 1rem;
}

.get-started .content {
  text-align: center;
}

.get-started button {
  padding: 0.5rem 2rem;
  border-radius: 1.5rem;
  letter-spacing: 1px;
}
/***********
Get Started End
***********/

footer {
  background: var(--dark-blue);
}

footer .container {
  width: 1110px;
  margin: 0 auto;
  padding: 4rem 1rem;
  display: flex;
  justify-content: space-between;
}

footer .logo {
  display: flex;
  align-items: flex-start;
}

footer .footer-menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: var(--grayish-violet);
}

.footer-menu .menu-item:first-child {
  margin-bottom: 0.5rem;
  color: var(--white);
}

.footer-menu .menu-item:first-child .menu-link {
  color: inherit;
}

.footer-menu .menu-item .menu-link {
  color: inherit;
  font-size: 0.75rem;
  text-decoration: none;
  cursor: pointer;
}

.socials {
  display: flex;
  list-style: none;
  text-align:right;
}

.socials li {
  list-style: none;
  padding: .5rem;
}
